<div style="float:left;width:1280px;text-align:center;margin: 0px, auto;padding:0px;">
 <div style="float: right;width:89px;height:100px;">&nbsp;
 </div>
  <div style="float: right;width:237px;height:469px;background-image:url(/images/bgnew.jpg);">
  <table align="center" width="209" border="0" cellspacing="0" cellpadding="0">
    <tr><td height="15"></td></tr>
    <tr>
      <td width="209" height="318" bgcolor="#96a890">
       <div>
        <%= unless @news.nil?
             simple_format h(@news.short_descr)
            end
         -%>
       </div>
       <i><%=
       unless @news.nil?
          link_to "Подробнее ..." ,{:controller=>"main",:action=>"news",:id=>"#{@news.id}"},:class=>"img_lnk"
       end -%>
       </i>&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
    </tr>
   <tr>
   <td width="212" height="45">
     &nbsp;
   </td>
    </tr>
   <tr>
   <td width="209" height="70">
      <%=render :partial => 'shared/radio' -%>
   </td>
    </tr>
  </table>
</div>
 <div style="float:left;width:85px;height:739px;background-image:url(/images/leftbrd.jpg);margin: 0px, auto;padding:0px;">
 &nbsp;
</div>
 <div style="float:left;">
 <%= javascript_tag(
  "new PeriodicalExecuter(function() { new Ajax.Updater('list_div', '/main/list',
     { method: 'get', asynchronous: true, evalScripts: true,
     parameters: { vd: document.getElementById('cdat').value } }) }, 60)") %>

   <table  style="width:237px; height:450px;" cellspacing="0" cellpadding="0" >
    <tr><td>
    <div id="list_div">
    <%=render :partial => 'program/list' -%>
    </div>
    </td></tr>
   </table>
 </div>
 <div style="float:left;width:632px;height:469px;">
    <%=image_tag("imgcnt.jpg",:border=>"none")-%>
 </div>
<div style="width:1106px;height:270px;float:left;background-image:url(/images/btnbgr.jpg);margin: 0px, auto;padding:0px;">
  <div style="height:100px;text-align:center;min-width:1000px;">
    <h1><p style="color:#FFFFFF">Copyright &copy; 2011, "Доброе Радио Маяк" г.Гусев</p></h1>
</div>
<%if logged_in? %>
 <%= link_to "Администрирование", :controller=>"menu",:action=>"show" -%>
<%end-%>
</div>
</div>
