<div>
<div id="login">
 <% if @c %>
 <p> <%= link_to "Logout", :controller => 'userprof',:action => 'logout' %></p>
 <%= link_to "Administration", :controller => 'program',:action => 'show' %>
 <% else %>
 <%= link_to "Login", :controller => 'userprof',:action => 'view' %>
 <% end %>
</div>
<div id="nav">
<%= show_menu("MAIN") -%>
</div>
<div id="radio">
 <%= render :partial=>"shared/radio" %>
</div>
<div id="lsider"><%= periodically_call_remote :update => 'list_div',
:url => {:action => "list"},
:frequency => 10.0 -%>
<div id='list_div'>
 <%=render :partial => 'program/list'-%>
</div>
</div>
<div id="main">
<p>Find me in app/views/main/view.html.erb</p>
 <%=show_calendar Date.today,{:controller=>"clndr",:action=>"show",:vd=>"18-01-2001"} -%>
</div>
</div>
