<div style="float:left;width:1280px;text-align:center;margin: 0px, auto;padding:0px;">
<%if logged_in? %>
 <%= link_to "Администрирование", :controller=>"menu",:action=>"show" -%>
<%end-%>
 <div style="float: right;width:89px;height:100px;">&nbsp;
 </div>
  <div style="float: right;width:222px;">
    <div style="float: right;width:13px;">
       <%=image_tag("brdrht.jpg",:border=>"0");-%>
    </div>
    <div>
  <table align="center" width="222" border="0" cellspacing="0" cellpadding="0">
    <tr><td ><%=image_tag("brdtop.jpg",:border=>"0");-%></td></tr>
  <tr>
   <td valign="top">
    <div >
      <%=render :partial => 'shared/radio' -%>
    </div></td>
  </tr>
 </table>
</div>
 <div style="padding:15px;"></div>
 <table style="width:150px;height:170px;" background="images/descr.jpg">
  <tr>
   <td style="width:200px;height:120px;" valign="center" align="center">
    <div>
        <%= unless @news.nil? 
             simple_format h(@news.short_descr)
            end
         -%>
    </div>
   </td>
  </tr>
  <tr><td valign="top" align="right">
     <div style="width:200px;height:30px;">
       <i><%=
     unless @news.nil?
        link_to "Подробнее ..." ,{:controller=>"main",:action=>"news",:id=>"#{@news.id}"},:class=>"img_lnk"
     end -%></i>&nbsp;&nbsp;&nbsp;&nbsp;
    </div></td>
  </tr>
 </table>
 </div>
<div style="float:left;width:85px;height:739px;background-image:url(/images/leftbrd.png);margin: 0px, auto;padding:0px;">
 &nbsp;
</div>
 <div style="float:left;">
 <%= javascript_tag(
  "new PeriodicalExecuter(function() { new Ajax.Updater('list_div', '/main/list',
     { method: 'get', asynchronous: true, evalScripts: true,
     parameters: { vd: document.getElementById('cdat').value } }) }, 60)") %>

   <table  style="width:237px; height:490px;" cellspacing="0" cellpadding="0" >
    <tr><td>
    <div id="list_div">
    <%=render :partial => 'program/list' -%>
    </div>
    </td></tr>
   </table>
 </div>
 <div style="float:left;width:647px;height:469px;">
    <%=image_tag("imgcnt.png",:border=>"none")-%>
 </div>
 </div>
