<div style="width: 1280px;text-align:center;margin: 0px, auto;padding:0px;">
<%if logged_in? %>
 <%= link_to "Администрирование", :controller=>"menu",:action=>"show" -%>
<%end-%>
<div style="float: right;width:450px;">
  <div>
  <table align="center" style="width: 290px;height: 205px;" background="images/radio.jpg" >
  <tr>
   <td style="padding:55px;height:100px;" valign="top">
    <div >
      <%=render :partial => 'shared/radio' -%>
    </div></td>
  </tr>
 </table>
</div>
 <div style="padding:15px;"></div>
 <table style="width:450px;height:170px;" background="images/descr.jpg">
  <tr>
   <td style="width:400px;height:120px;" valign="center" align="center">
    <div>
        <%= unless @news.nil? 
             simple_format h(@news.short_descr)
            end
         -%>
    </div>
   </td>
  </tr>
  <tr><td valign="top" align="right">
     <div style="width:200px;height:30px;">
       <i><%=
     unless @news.nil?
        link_to "Подробнее ..." ,{:controller=>"main",:action=>"news",:id=>"#{@news.id}"},:class=>"img_lnk"
     end -%></i>&nbsp;&nbsp;&nbsp;&nbsp;
    </div></td>
  </tr>
 </table>
 <div style="padding:10px;float:right;width:400px;height:10px">
  <div style="padding:20px;"></div>
  <div style="float:right;width:50px">
    <%if check_admin_ip?%>
    <%= render :partial=>"sessions/logio" -%>
    <%end%>
  </div>
  <div style="float:left;width:50px">
  <%= link_to image_tag("babout.jpg",:border=>"0"),{:controller => 'main',:action => 'about'},:class=>"img_bg" -%>
  </div>
 </div>
</div>
<div style="float:left;width:85px;height:739px;background-image:url(/images/leftbrd.png);margin: 0px, auto;padding:0px;">
 &nbsp;
</div>
 <div style="float:left;width:350px;">
 <%= javascript_tag(
  "new PeriodicalExecuter(function() { new Ajax.Updater('list_div', '/main/list',
     { method: 'get', asynchronous: true, evalScripts: true,
     parameters: { vd: document.getElementById('cdat').value } }) }, 60)") %>

  <table  style="width:240px; height:490px;" background="images/prglst.jpg">
    <tr><td>
    <div id="list_div">
    <%=render :partial => 'program/list' -%>
    </div>
    </td></tr>
 </table>
 </div>
 </div>
