<%= form_tag :controller=>url[:controller],:action=>url[:action],:id=>url[:id] unless url.nil? -%>
<%unless url.nil?-%>
 <p> 
 <div style="float:left;">
<%= submit_tag h(but_sub[:text]),:class=>"but"-%>&nbsp</div>
<%end-%>

<% unless btns.nil?-%>
<div style="float:left;" >       
<%    btns.each do |b| -%>
 <div style="float:left;">
  <%=submit_tag h(b[:text]),:name=>h(b[:name]),:class=>"but"  -%>&nbsp</div>
</div>
<%end
end -%>
<%unless url.nil?-%>
  &nbsp
 </p> 
<%end-%>
<table width="100%" heigh="100%" style="BORDER: buttonface solid 1px;">
<% unless headers.nil?-%>
<tr>
<% if crud-%>
 <th style="background-color:solid;">&nbsp</th>
<%end-%>
<% headers.each do |hd| -%>
 <th style="background-color:solid;"><%=h(hd)-%></th>
<% end;-%>
<% if crud-%>
 <th style="background-color:solid;">&nbsp</th>
<%end-%>
<%end-%>
</tr>
<%@fl=0%>
<% unless objs.nil?
  objs.each do |hs| -%>
<% if @fl==0-%>
 <tr style="background-color:#f0f0f0">
 <%@fl=1%>
<%else-%>
 <tr >
 <%@fl=0%>
<%end-%>
<% if crud-%>
 <td><%= check_box_tag "chk_id[]","#{h(hs.id)}" -%></td><% end-%>
 <%fields.each do |fl| -%>
  <td><%=
ptmp=hs.read_attribute(h("#{fl[:id]}"))
if fl.has_key? :proc 
 fl[:proc].call(ptmp);
else
 h(ptmp)
end 
-%>
 <%end;-%>
<% if crud-%>
<td> <%=link_to "#{t(:Butt_Update)}",:controller=>url[:controller],:action=>"edit",:id=>"#{h(hs.id)}",:mn=>@adm_menu_id -%></td>
<%end-%>
<%end-%>
<% end-%>
</tr>
</table>
<%unless crud.nil? -%>
 </form>
<%end-%>
