<%= form_tag :controller=>url[:controller],:action=>url[:action],:id=>url[:id] unless url.nil? -%>
<%unless url.nil?-%>
 <p> 
 <div style="float:left;">
 <% if objs.size>0 && !select_item -%>
   <%= submit_tag h(but_sub[:text]),:class=>"but"-%>
 <%end-%>
  &nbsp</div>
<%end-%>

<% unless btns.nil?-%>
<div style="float:left;" >       
<%    btns.each do |b| -%>
 <div style="float:left;">
  <%=submit_tag h(b[:text]),:name=>h(b[:name]),:class=>"but"  -%>&nbsp</div>
</div>
<%end
end -%>
<%unless url.nil?-%>
  &nbsp
 </p> 
<%end-%>
<table style="<%=tbstyle-%>">
<% unless headers.nil?-%>
<tr>
<% if crud-%>
 <th style="background-color:solid;">&nbsp</th>
<%end-%>
<% headers.each do |hd| -%>
 <th style="background-color:solid;"><%=h(hd)-%></th>
<% end;-%>
<% if crud-%>
 <th style="background-color:solid;">&nbsp</th>
<%end-%>
<%end-%>
</tr>
<%@fl=0%>
<% unless objs.size==0
  objs.each do |hs| -%>

<% if @fl==0-%>
 <tr style=<%=if rowact.nil?
               "background-color:#f0f0f0"
              else
               rowact.call(hs)||"background-color:#f0f0f0"
              end-%>>
 <%@fl=1%>
<%else-%>
 <tr <%=unless rowact.nil?
        "style='#{rowact.call(hs)}'"
      end-%>>
 <%@fl=0%>
<%end-%>
<% if crud-%>
 <td><%= check_box_tag "chk_id[]","#{h(hs.id)}" -%></td><% end-%>
 <%fields.each do |fl| -%>
  <td <%unless fl[:style].nil?-%>
       style="<%=fl[:style]-%>"
      <%end-%>>
<%=
ptmp=hs.read_attribute(h("#{fl[:id]}"))||hs.instance_eval("#{fl[:id]}")
if fl.has_key? :proc 
 fl[:proc].call(ptmp);
else
 h(ptmp)
end 
-%>
 <%end;-%>
<% if crud -%>
<td> <%=link_to "#{t(:Butt_Update)}",:controller=>url[:controller],:action=>"edit",:id=>"#{h(hs.id)}" -%></td>
<%end-%>
<% if select_item -%>
 <td> <%=link_to select_item_name.call(hs.id),:controller=>url[:controller],:action=>url[:action],:id=>url[:id2],:id2=>"#{h(hs.id)}"-%></td>
<%end-%>
<%end-%>
<% end-%>
</tr>
</table>
<%unless crud.nil? -%>
 </form>
<%end-%>
